#displayTD{
	/* background:#f9edbe; */
	border-radius:2px;/* 
	border:1px solid #f0c36d; */
	/* box-shadow:0 2px 4px rgba(0,0,0,0.2); */
	color:#666;
	display:block;
	padding:16px;
	position:fixed;
	right:10px;
	top:30px;
	width:190px;
	z-index:11;
	/* -moz-border-radius:2px;
	-moz-box-shadow:0 2px 4px rgba(0,0,0,0.2); */
	cursor: default;
	text-align: center;
	font-size: 13px;
}
table#tbl{
	font-family : arial;
	width: 210px;
	height: 85px;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: whitesmoke;
}
.mon-sat{
	color: black;
}
#sun{
	color: maroon;
}
.timeDate{
	color: black;
}
#hide,#hide-totalmembers{
	cursor: pointer;
}
/*hr{
	color: black;
}
 .timeDate:hover,#sun:hover,#mon-sat:hover{
	font-size: 15px;
} */